body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.user-session {
  padding-top: .75rem;
  padding-bottom: .75rem;
  margin-left: -10px;
  margin-right: 10px;
}

.logo {
  height: 40px;
  width: 40px;
}